<?xml version="1.0"?>
<config>
    <modules>
        <Sigmacell_ExtendOrderGrid>
            <version>1.0.0</version>
        </Sigmacell_ExtendOrderGrid>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sigmacell_extendordergrid>
                    <file>extendordergrid.xml</file>
                </sigmacell_extendordergrid>
            </updates>
        </layout>
    </adminhtml>
</config> 